<%= form_for(@image, :html => { :multipart => true }) do |f| %>
    <%= render partial: "shared/errors", locals: { object: @image } %>
    
    <div class="field">
        <%= f.label :images %>
        <%= f.file_field :sources, multiple: true %>
    </div>
    
    <%= f.hidden_field :inventory_item_id, value:"#{params[:id]}" %>
    <%= f.hidden_field :sources_cache %>
    
    <div class="actions">
        <%= f.submit "Attach images", class:"btn btn-primary btn-block",
            data: { "disable-with": "Attaching images..."} %>
    </div>
<% end %>