<section id="inventory--items">
    <div class="row">
        <% if items.present? %>
            <% items.each do |i| %>
                <div class="col-md-3 item-column <%= "mobile-show" if items.index(i) > 3 %>">
                    <a href="/item/<%= i.id %>/<%= i.slug %>">
                        <div class="card img--container item--img--container">
                            <div class="card-body">
                                
                            </div>
                                
                            <div class="card-footer">
                                <h6>
                                    <%= i.item_name.truncate(25) %>
                                </h6>
                                
                                <div>
                                    <p>
                                        Market value: <%= number_to_currency i.market_value.to_i %>
                                    </p>
                                </div>
                                
                                <div>
                                    <span class="badge badge-<%= availability_color_for i %>">
                                        <%= i.availability %>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            <% end %>
            
            <div class="col-md-12 mobile-show">
                <button class="btn btn-link btn-block">
                    <%= link_to browse_path do %>
                        View all <i class="fas fa-long-arrow-alt-right"></i>
                    <% end %>
                </button>
            </div>
        <% else %>
            <div class="col-md-12">
                <p>
                    No items listed
                </p>
            </div>
        <% end %>
    </div>
</section>