<section id="inventory-item-<%= @item.id %>" class="inventory-item">
    <div class="row">
        <div class="col-md-7">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/browse">Browse</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <%= @item.item_name %>
                </li>
              </ol>
            </nav>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-7">
            <div class="img--container">
                <!--<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">-->
                <!--    <ol class="carousel-indicators">-->
                <!--        <% @item.image.sources.length.times do |t| %>-->
                <!--            <li data-target="#carouselExampleIndicators" data-slide-to="<%= t %>" class="<%= "active" if t == 0 %>"></li>-->
                <!--        <% end %>-->
                <!--    </ol>-->
                <!--    <div class="carousel-inner">-->
                <!--        <% @item.image.sources.each do |s| %>-->
                <!--            <div class="carousel-item <%= "active" if s == @item.image.sources.first %>">-->
                <!--              <img src="<%= s.url %>"-->
                <!--                class="d-block w-100" alt="<%= @item.item_name %>">-->
                <!--            </div>-->
                <!--        <% end %>-->
                <!--    </div>-->
                <!--  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">-->
                <!--    <i class="fas fa-angle-left"></i>-->
                <!--  </a>-->
                <!--  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">-->
                <!--    <i class="fas fa-angle-right"></i>-->
                <!--  </a>-->
                <!--</div>-->
                <img src="<%= @item.image.first_source %>" class="d-block w-100"
                    alt="<%= @item.item_name %>">
            </div>
        </div>
        
        <div class="col-md-4 offset-md-1">
            <div class="item-data">
                <div class="item-name">
                    <h5>
                        <%= @item.item_name %>
                    </h5>
                </div>
                
                <div class="item-name">
                    <p>
                        <strong>
                            <a href="/brand/<%= @item.item_brand %>">
                                <%= @item.item_brand %>
                            </a>
                        </strong>
                    </p>
                </div>
                
                <div class="item-size">
                    <p>
                        Size: US L/EU M
                        <span class="badge badge-<%= availability_color_for @item %>">
                            <%= @item.availability %>
                        </span>
                    </p>
                </div>
                
                <div class="item-market-value">
                    <p>
                        Estimated Market Value: $<%= @item.market_value %>
                    </p>
                </div>
                
                <div class="item-condition">
                    <p>
                        Condition: <%= @item.condition %>
                    </p>
                </div>
                
                <hr>
                
                <div class="item-actions">
                    <div id="add-to-cart-div">
                        <%= link_to add_to_cart_path(:item_id => @item.id), remote: true do %>
                            <button class="btn btn-theme btn-block">
                                <span>
                                    Add to cart
                                </span>
                                <span class="no-display">
                                    <i class="fas fa-shopping-cart"></i>
                                </span>
                            </button>
                        <% end %>
                    </div>
                    
                    <div id="add-to-likes-div">
                        <%= link_to favorite_path(:item_id => @item.id), remote: true, method: :post do %>
                            <button class="btn btn-theme-outline btn-block">
                                <span>
                                    Save
                                </span>
                                <span class="no-display">
                                    <i class="far fa-heart"></i>
                                </span>
                            </button>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8">
            <div class="item-description">
                <h6>
                    Description
                </h6>
                
                <p>
                    <%= sanitize @item.item_description %>
                </p>
            </div>
            
            <hr>
            
            <div class="item-reviews">
                <h6>Reviews</h6>
            </div>
            
            <hr>
            
            <div class="item-recommendations">
                <h6>More like this</h6>
            </div>
        </div>
    </div>
</section>