<section id="inventory-item-<%= @item.id %>" class="inventory-item">
    <div class="row">
        <div class="col-md-7">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
              </ol>
            </nav>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-7">
            <div class="img--container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <% @item.image.sources.length.times do |t| %>
                            <li data-target="#carouselExampleIndicators" data-slide-to="<%= t %>" class="<%= "active" if t == 0 %>"></li>
                        <% end %>
                    </ol>
                    <div class="carousel-inner">
                        <% @item.image.sources.each do |s| %>
                            <div class="carousel-item <%= "active" if s == @item.image.sources.first %>">
                              <img src="<%= s.url %>"
                                class="d-block w-100" alt="<%= @item.item_name %>">
                            </div>
                        <% end %>
                    </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <i class="fas fa-angle-left"></i>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <i class="fas fa-angle-right"></i>
                  </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 offset-md-1">
            <div class="item-data">
                <div class="item-name">
                    <h5>
                        <%= @item.item_name %>
                    </h5>
                </div>
                
                <div class="item-name">
                    <p>
                        <strong>
                            <%= @item.item_brand %>
                        </strong>
                    </p>
                </div>
                
                <div class="item-size">
                    <p>
                        Size: US L/EU M
                    </p>
                </div>
                
                <div class="item-price">
                    <h5>
                        Market Value: $<%= @item.market_value %>
                    </h5>
                <div>
                
                <hr>
                
                <div class="item-actions">
                    <button class="btn btn-primary btn-block">
                        ADD TO CART
                    </button>
                    <button class="btn btn-secondary btn-block">
                        <i class="far fa-heart"></i> Save
                    </button>
                </div>
                
                <hr>
                
                <div class="item-description">
                    <h5>
                        Description
                    </h5>
                    
                    <p>
                        <%= sanitize @item.item_description %>
                    </p>
                </div>
                
                <hr>
            </div>
        </div>
    </div>
</section>