<section id="inventory-item-<%= @item.id %>" class="inventory-item">
    <div class="row">
        <div class="col-md-7">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
              </ol>
            </nav>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-7">
            <div class="img--container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="https://process.fs.grailed.com/AJdAgnqCST4iPtnUxiGtTz/cache=expiry:max/rotate=deg:exif/resize=height:670,fit:scale/output=format:webp,quality:90/compress/https://cdn.fs.grailed.com/api/file/OLMsT0wXQVeZtCRG3Pka"
                        class="d-block w-100" alt="<%= @item.item_name %>">
                    </div>
                    <div class="carousel-item">
                      <img src="https://process.fs.grailed.com/AJdAgnqCST4iPtnUxiGtTz/cache=expiry:max/rotate=deg:exif/resize=height:670,fit:scale/output=format:webp,quality:90/compress/https://cdn.fs.grailed.com/api/file/OLMsT0wXQVeZtCRG3Pka"
                        class="d-block w-100" alt="<%= @item.item_name %>">
                    </div>
                    <div class="carousel-item">
                      <img src="https://process.fs.grailed.com/AJdAgnqCST4iPtnUxiGtTz/cache=expiry:max/rotate=deg:exif/resize=height:670,fit:scale/output=format:webp,quality:90/compress/https://cdn.fs.grailed.com/api/file/OLMsT0wXQVeZtCRG3Pka"
                        class="d-block w-100" alt="<%= @item.item_name %>">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <i class="fas fa-angle-left"></i>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <i class="fas fa-angle-right"></i>
                  </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 offset-md-1">
            <div class="item-data">
                <div class="item-name">
                    <h5>
                        <%= @item.item_name %>
                    </h5>
                </div>
                
                <div class="item-name">
                    <p>
                        <strong>
                            <%= @item.item_brand %>
                        </strong>
                    </p>
                </div>
                
                <div class="item-size">
                    <p>
                        Size: US L/EU M
                    </p>
                </div>
                
                <div class="item-price">
                    <h3>
                        $80
                    </h3>
                <div>
                
                <div class="item-actions">
                    <button class="btn btn-primary btn-block">
                        ADD TO CART
                    </button>
                    <button class="btn btn-secondary btn-block">
                        <i class="far fa-heart"></i> Save
                    </button>
                </div>
                
                <hr>
                
                <div class="item-description">
                    <h5>
                        Description
                    </h5>
                    
                    <p>
                        <%= @item.item_description %>
                    </p>
                </div>
                
                <hr>
            </div>
        </div>
    </div>
</section>