<section id="confirmation-page">
    <div class="container">
        <div class="row" id="rental-details">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body" id="checkout-snapshot">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="<%= @item.image.first_source %>" alt="<%= @item.item_name %>"
                                    height="120">
                            </div>
                            
                            <div class="col-md-7">
                                <h5 style="color: var(--main-font-color-dark);">
                                    <%= @item.item_name %>
                                </h5>
                                
                                <p style="margin-bottom: 0;">
                                    Size: <%= @item.size %>
                                </p>
                                
                                <p>
                                    Owner: <%= @item.lister.username %>
                                </p>
                            </div>
                        </div>
                        
                        <hr>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <span class="float-left" id="display-checkin" style="width: 45%; font-size: 14px;">
                                    <%= @order.rental_start.present? ? @order.rental_start : DateTime.current().strftime("%m/%d/%Y") %>
                                </span>
                                
                                <span class="float-center" style="width: 10%; text-align: center; font-size: 14px;">
                                    <i class="fas fa-arrows-alt-h"></i>
                                </span>
                                
                                <span class="float-right" id="display-checkout" style="width: 45%; text-align: right; font-size: 14px;">
                                    <%= @order.rental_end.present? ? @order.rental_end : (DateTime.current() + 3).strftime("%m/%d/%Y") %>
                                </span>
                            </div>
                        </div>
                        
                        <hr>
                        
                        <div id="checkout-snapshot-details">
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <p class="float-left" style="margin-bottom: 0;">Price</p>
                                        
                                        <p class="float-right" style="text-align: right !important; margin-bottom: 0;">
                                            <%= number_to_currency @order.calculated_price %>
                                            <br>
                                            <span style="font-size: 12px !important;" class="text-muted">
                                                <span id="days">(<%= pluralize @order.days_requested, "day" %>)</span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                                    
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <p class="float-left" style="margin-bottom: 0;">Service fee</p>
                                        
                                        <p class="float-right" style="margin-bottom: 0;">
                                            <%= number_to_currency @order.calculated_service_fee %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <p class="float-left" style="margin-bottom:0;">Tax</p>
                                        
                                        <p class="float-right" style="margin-bottom:0;">
                                            <%= number_to_currency @order.calculated_tax %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                            <hr>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div style="color: var(--main-font-color-dark); font-weight: 600;">
                                        <p class="float-left">Total</p>
                                        
                                        <p class="float-right">
                                            <%= number_to_currency @order.total %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: var(--main-font-color-dark);">
                                    Secure Checkout
                                </h5>
                            </div>
                            
                            <div class="col-md-8">
                                <div style="height: 21px; padding-top: 3px;" class="float-right">
                                    <i class="far fa-circle float-left" style="font-size: 20px; color: #A3B4C7;
                                        position: relative; z-index: 999; background-color: #fff;
                                        padding-right: 10px;" id="done-icon-1"></i><span style="background-color: #fff; font-size: 14px !important;
                                        position: relative; z-index: 999; padding-right: 10px;" class="float-left">Pickup</span>
                                    
                                    <span style="width: 20px; border: 0.25px solid #A3B4C7; margin-top: 10px;" class="float-left"></span>
                                    
                                    <i class="far fa-circle float-left" style="font-size: 20px; color: #A3B4C7;
                                        position: relative; z-index: 999;
                                        padding-right: 10px; margin-left: 10px;" id="done-icon-2"></i><span style="background-color: #fff;
                                        position: relative; z-index: 999; padding-right: 10px;
                                        font-size: 14px !important;" class="float-left">Payment</span>
                                    
                                    <span style="width: 20px; border: 0.25px solid #A3B4C7; margin-top: 10px;" class="float-left"></span>
                                    
                                    <i class="far fa-circle float-left" style="font-size: 20px; color: #A3B4C7;
                                        position: relative; z-index: 999;
                                        padding-right: 10px; margin-left: 10px;" id="done-icon-3"></i><span style="background-color: #fff;
                                        position: relative; z-index: 999; padding-right: 10px;
                                        font-size: 14px !important;" class="float-left">Review</span>
                                </div>
                            </div>
                        </div>
                        
                        <hr>
                        
                        <div id="pickup-details">
                            <div class="row" style="margin-bottom: 15px;">
                                <div class="col-md-12" align="center">
                                    <div style="width: 100%; border-radius: 2.75px;
                                        padding: 5px 15px; background-color: #e3e8ee;">
                                        <p style="margin-bottom: 0; text-transform: uppercase;
                                            font-weight: 600;">Pickup Details</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12" style="margin-bottom: 20px;">
                                    <h6 style="color: var(--main-font-color-dark);">Select rental period</h6>
                                </div>
                                
                                <div class="col-md-12">
                                    <%= render partial: "common/datetime_picker", locals: { item: @item } %>
                                </div>
                            </div>
                            
                            <hr>
                            
                            <div class="row">
                                <div class="col-md-12" style="margin-bottom: 20px;">
                                    <h6 style="color: var(--main-font-color-dark);">Select pick-up location</h6>
                                </div>
                                
                                <div class="col-md-12">
                                    <%= render partial: "common/location_picker", locals: {  } %>
                                </div>
                            </div>
                        </div>
                        
                        <div id="payment-details" style="display: none;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row" style="margin-bottom: 15px;">
                                        <div class="col-md-12" align="center">
                                            <div style="width: 100%; border-radius: 2.75px;
                                                padding: 5px 15px; background-color: #e3e8ee;">
                                                <p style="margin-bottom: 0; text-transform: uppercase;
                                                    font-weight: 600;">Payment Details</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div id="review" style="display: none;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row" style="margin-bottom: 15px;">
                                        <div class="col-md-12" align="center">
                                            <div style="width: 100%; border-radius: 2.75px;
                                                padding: 5px 15px; background-color: #e3e8ee;">
                                                <p style="margin-bottom: 0; text-transform: uppercase;
                                                    font-weight: 600;">Review</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <hr>
                            
                        <div class="row">
                            <div class="col-md-12">
                                <a class="float-left btn btn-outline-primary"
                                    style="text-decoration: none;" id="prev-button">
                                    <i class="fas fa-angle-left"></i> Back
                                </a>
                                
                                <a class="float-right btn btn-primary" id="next-button"
                                    onclick="nextAction(this, 'pickup-details', 'payment-details');">
                                    Continue
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    let nextCount = 0;
    const stages = ['pickup-details', 'payment-details', 'review'];
    const prev = document.querySelector('#prev-button');
    const next = document.querySelector('#next-button');
    
    toggleCheckIcon = (count) => {
        let icon = $(`#done-icon-${count}`);
        
        icon
        .toggleClass("far")
        .toggleClass("fa-circle")
        .toggleClass('fas')
        .toggleClass('fa-check-circle');
    }
    
    updateOnclick = () => {
        prev
        .setAttribute('onclick', `prevAction(this, '${stages[nextCount]}', '${stages[nextCount - 1]}')`);
        
        next
        .setAttribute('onclick', `nextAction(this, '${stages[nextCount]}', '${stages[nextCount + 1]}')`);
    }
    
    prevAction = (elem, current, prev) => {
        if (nextCount == 0) {
            elem.setAttribute('href', '/inventory_items/<%= @item.id %>');
            elem.removeAttribute('onclick');
        }
        
        $(`#${current}`).fadeOut();
        $(`#${prev}`).fadeIn();
        
        toggleCheckIcon(nextCount);
        
        if (nextCount > 0) {
            nextCount--;
        }
        
        if (nextCount < 2) {
            next.innerHTML = 'Continue';
        }
        
        updateOnclick();
        console.log(nextCount);
    }
    
    nextAction = (elem, current, next) => {
        if (current == "pickup-details" && nextCount == 0) {
            showSpinner(elem);
            btn.click(); // update order with pickup details
            
            return
        }
        
        if (nextCount < 3) {
            // making sure that the server-side js is in sync w/ client side
            if (!(nextCount == 1 && current == "pickup-details")) {
                nextCount++;
            }
        }
        
        if (nextCount == 2) {
            elem.innerHTML = 'Submit'
        }
        console.log(nextCount);
        if (nextCount == 3) {
            submitOrder();
            
            return
        }
        
        $(`#${current}`).fadeOut();
        $(`#${next}`).fadeIn();
        
        toggleCheckIcon(nextCount);
        updateOnclick();
    }
    
    submitOrder = () => {
        toggleCheckIcon(nextCount);
        toastr["success"]("order submitted!");
    }
</script>