<%= form_for(@io, :html => { :multipart => true, :id => "io-profile-form" }) do |f| %>
    <div class="field">
        <div class="row">
            <div class="col-md-12">
                <%= f.text_field :first_name, class:"form-control",
                    placeholder:"First Name", required: true %>
            </div>
            
            <div class="col-md-12">
                <%= f.text_field :last_name, class:"form-control",
                    placeholder:"Last Name", required: true %>
            </div>
            
            <div class="col-md-12">
                <%= f.text_field :username, class:"form-control",
                    placeholder:"Username", required: true %>
            </div>
        </div>
    </div>
    
    <div class="field">
        <div class="row">
            <div class="col-md-12">
                <%= f.text_field :street_address, class:"form-control",
                    placeholder:"Street Address", required: true %>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <%= f.text_field :city, class:"form-control",
                    placeholder:"City", required: true %>
            </div>
            <div class="col-md-12">
                <%= f.text_field :state, class:"form-control",
                    placeholder:"State", required: true %>
            </div>
            <div class="col-md-12">
                <%= f.text_field :zipcode, class:"form-control",
                    placeholder:"Zipcode", required: true %>
            </div>
        </div>
    </div>
    
    <% if current_item_owner.has_not_completed_registration == true %>
        <%= f.hidden_field :registration_completed %>
        
        <div class="card">
            <div class="card-body">
                <p style="margin-bottom: 0;">
                    Note: We use Stripe to make sure you get paid on time and to keep
                    your personal details secure. Click
                    <a href="https://stripe.com/terms">here</a> to view Stripe's
                    terms and conditions.
                </p>
            </div>
        </div>
    <% end %>
    
    <div class="submit d-grid gap-2">
        <hr>
        <%= f.submit "#{item_owner_form_button_text}", class:"btn btn-primary btn-block",
            data: { :disable_with => "Saving..." } %>
    </div>
<% end %>