<style>
  .datepicker td {
    width: 40px;
    height: 40px;
  }
  
  .datepicker td.active {
    background-image: none !important;
    background-color: #b4894b !important;
  }
</style>

<div class="input-daterange input-group row" id="datepicker">
  <div class="col-md-6">
    <input type="text" class="input-sm form-control" name="start"
      placeholder="From" id="checkin" style="color: var(--main-font-color);"
      onclick="trackClicks('checkin')" onchange="updateRentalPeriod(this)">
  </div>
  
  <div class="col-md-6">
    <input type="text" class="input-sm form-control" name="end"
      placeholder="To" id="checkout" style="color: var(--main-font-color);"
      onclick="trackClicks('checkout')" onchange="updateRentalPeriod(this)">
  </div>
</div>

<hr>

<div id="order-form-container" style="display: none;">
  <%= form_for(@order, :html => { :id => "order-form" }, remote: true) do |f| %>
    <%= f.hidden_field :rental_start, id:"rental-start-input" %>
    <%= f.hidden_field :rental_end, id:"rental-end-input" %>
    <%= f.submit "submit", id:"order-form-btn" %>
  <% end %>
</div>

<script type="text/javascript">
    let datesDisabled = "<%= @order.item.reserved_dates %>".split(",");
    
    $('.input-daterange').datepicker({
      datesDisabled: datesDisabled
    });
    
    let checkOutClickCount = 0;
    let checkInClickCount = 0;
    
    let form = document.querySelector("#order-form");
    let btn = document.querySelector("#order-form-btn");
    
    // submit days to backend, calculate fees
    submitForm = () => {
      btn.click();
      
      $("#checkout-snapshot-details").html(`
        <div class="d-flex justify-content-center">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      `);
    }
    
    // bypass double input value change from bootstrap datepicker
    trackClicks = (tracker) => {
      if (tracker == "checkout" && checkOutClickCount == 0) {
        checkOutClickCount++;
        return;
      }
      
      checkInClickCount++;
    }
    
    // calculated days on client side
    calculateDays = (checkin, checkout) => {
      diff = Date.parse(checkout) - Date.parse(checkin);
      diffInDays = diff/(1000 * 3600 * 24);
      
      return diffInDays;
    }
    
    validRentalPeriod = (checkin, checkout) => {
      return calculateDays(checkin, checkout) > 1;
    }
    
    invalidRentalPeriod = (checkin, checkout) => {
      return validRentalPeriod(checkin, checkout) == false;
    }
    
    updateRentalPeriod = (elem) => {
      let checkIn = document.querySelector('#checkin').value;
      let checkOut = document.querySelector('#checkout').value;
      
      // reset trackers if checkin is set to after previous checkout
      // if (checkOutClickCount > 0) {
      //   if (Date.parse(checkIn) > Date.parse(currentCheckout)) {
      //     console.log(true)
      //     checkInClickCount = 0;
      //     checkOutClickCount = 0
      //   }
      // }
      
      let inputIn = document.querySelector('#rental-start-input');
      let inputOut = document.querySelector('#rental-end-input');
      
      let checkInDisplay = $('#display-checkin');
      let checkOutDisplay = $('#display-checkout');
      
      inputIn.value = checkIn;
      inputOut.value = checkOut;
      
      checkInDisplay.text(checkIn);
      checkOutDisplay.text(checkOut);
      
      // client-side validation
      if (checkInClickCount > 0 && checkOutClickCount > 0) {
        if (invalidRentalPeriod(checkIn, checkOut)) {
          return toastr["warning"]("The rental period must be more than 1 day");
        };
        
        submitForm();
      }
    }
</script>